/*CSS STYLING FOR KONTAKT - DESKTOP STYLING WAS MADE FIRST AND AFTERWARDS THE MEDIA QUERIES ARE ADDED */
$white: #ffffff;
$black: #333333;
$blue: #274047;
$yellow: #b58b2d;
$light-green: #899A79;
$dark-green:#516043;
$spectral:'Spectral SC', serif;
$roboto:'Roboto', sans-serif;
$julius: 'Julius Sans One', sans-serif;
$break-s: '768px';
$break-lg: '1024px';

body{
    background-color:$black;
}
.kontakt{
    background-color: $white;
    @media only screen and (min-width: $break-s){
        margin:0 5%;
    }
    @media only screen and (min-width: $break-lg){
        margin: 0 10%;
    }
}
.font{ /*Extend class*/ 
    font-family: $roboto;
    color: $white; 
}
.kontakt h2{
    font-family: $spectral;
    color: $white;
    font-size:2rem;
    @media only screen and (min-width: $break-s){
        font-size:1.15rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size:1.35rem;
    }
}
.kontakt h3{
    @extend .font;
    font-size:1rem;
    margin-bottom: -0.1%;
    @media only screen and (min-width: $break-s){
        font-size:0.85rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size:0.8rem;
    }
}
.kontakt p{
    @extend .font;
    font-size:0.9rem;
    @media only screen and (min-width: $break-s){
        font-size:0.7rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size:0.65rem;
    }
}
.kontakt a{
    text-decoration: none;
    @extend .font;
    display: block;
    font-size:0.9rem;
    @media only screen and (min-width: $break-s){
        font-size:0.7rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size: 0.65rem;
    }
}
.kontakt a:hover{
    text-decoration: underline;
}
.kontakt table tr th{
    @extend .font;
    font-weight: 1;
    font-size:0.9rem;
    @media only screen and (min-width: $break-s){
        font-size:0.7rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size:0.65rem;
    }
}
.kontakt__section{
    display:grid;
    background-image: url('../img/forrest.png');
    background-repeat: no-repeat;
    background-size: cover; 
    @media only screen and (min-width: $break-s){
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%; 
    }
}
.kontakt__info{
    background-color: $yellow;
    padding:5% 7% 10% 7%;
    margin: 30% 2% 1% 2%;
    @media only screen and (min-width: $break-s){
        margin: 40% 5% 15% 5%;
        padding: 5% 7%;
    }
}
.kontakt table{
    width:100%;
    text-align: left;
}

.kontakt__formular{
    background-color: $blue;
    margin: 1% 2% 2% 2%;
    padding:5% 7% 10% 5%;
    @media only screen and (min-width: $break-s){
        margin: 40% 10% 15% 2%;
        padding:5% 7%;
    }
}
.form{ /*Extend class*/ 
    background-color:$blue;
    border: 1px solid $yellow;
    color:$yellow;
    @media only screen and (min-width: $break-s){
        margin:1%;
    }
}
.kontakt__formular form label{
    @extend .font;
    font-size:1rem;
    @media only screen and (min-width: $break-s){
        font-size:0.8rem;
    }
    @media only screen and (min-width: $break-lg){
        font-size:0.7rem;
    }
}
.kontakt__formular .kontakt__label__name{
    @media only screen and (min-width: $break-s){
        margin-right:6%;
    }
    @media only screen and (min-width: $break-lg){
        margin-right:9.2%;
    }
}
.kontakt__formular .kontakt__label__mail{
    @media only screen and (min-width: $break-s){
        margin-right:5%;
    }
    @media only screen and (min-width: $break-lg){
        margin-right:8.3%;
    }
}
.kontakt__formular .kontakt__label__phone{
    @media only screen and (min-width: $break-s){
        margin-right:2.5%;
    }
    @media only screen and (min-width: $break-lg){
        margin-right:6.5%;
    }
}
.kontakt__formular .kontakt__label__msg{
    vertical-align: top;
    @media only screen and (min-width: $break-s){
        margin-right:0.8%;
    }
    @media only screen and (min-width: $break-lg){
        margin-right:5%;
    }
}
.kontakt__formular form input{
    @extend .form;
    width:90%;
    height:15%;
    font-size:0.9rem;
    margin:1%;
    padding:2%;
    @media only screen and (min-width:$break-s){
        width:65%;
        height:10%;
        font-size:0.8rem;
        padding:2%;
    }
    @media only screen and (min-width: $break-lg){
        font-size:0.7rem;
    }
}
.kontakt__formular form textarea{
    @extend .form;
    font-family: $roboto;
    width:93%;
    margin:1%;
    font-size:0.9rem;
    padding:2%;
    @media only screen and (min-width: $break-s){
        width:20.7vw;
        height:15vh;
        font-size:0.8rem;
    }
    @media only screen and (min-width: $break-lg){
        width:18.5vw;
        font-size:0.7rem;
    }
}
.kontakt__formular form button{
    background-color: $yellow;
    border:none;
    font-weight: bold;
    color: $white;
    cursor: pointer;  
    transition: all ease 0.2s; 
    margin-left:35%;;
    padding:3% 10%;
    font-size:0.9rem;
    @media only screen and (min-width: $break-s){
        margin-left:58%;
        padding:3% 10%;
        font-size:0.7rem;
    }
    @media only screen and (min-width: $break-lg){
        margin-left:63%;
        font-size:0.7rem; 
        padding:3%8%;
    }
}
.kontakt__formular form button:hover{
    opacity:0.8;
}
.kontakt iframe{
    width:88%;
    height:200px;
    margin:6%;
    @media only screen and (min-width: $break-s){
        height:300px;
    }
    @media only screen and (min-width: $break-lg){
        width:100%;
        height:250px;
        width:70vw;
        margin:5%;
    }
}
.kontakt__reviews{
    width:100%;
    border-top: solid 2px $light-green;
}