footer
  font-size: 14px
  color: #899A79
  background-color: #516043
  background: linear-gradient(to bottom, #899A79 0%,#899A79 140px,#000000 140px,#516043 140px,#516043 100%)

  h3
    font-weight: 700

footer article
	max-width: 920px
	margin: 0 auto

#footer__top
	display: grid
	grid-template-columns: auto 66px
	height: 140px

#footer__top img
	height: 100px
	margin-top: 41px

#footer__bottom
	display: grid
	grid-template-columns: 2fr 1fr auto
	grid-template-rows: auto 24px
	grid-column-gap: 40px

	padding: 50px 0px 26px 0px

#footer__åbningstider
	display: grid
	grid-template-columns: 150px 100px
	grid-template-areas: "dage tider"
	width: 250px

.footer_åbningstider--dage
	grid-area: dage

.footer_åbningstider--tider
	grid-area: tider
	justify-items: end

#footer__bottom--social
	text-align: right
	grid-column-start: 3
	grid-column-end: 4
	margin-top: -24px

#footer__bottom--social img
	height: 24px
	margin-right: 10px
