/* Gives the header 2 background colors */
header {
  background: -webkit-gradient(linear, left top, left bottom, from(#516043), color-stop(50%, #516043), color-stop(50%, #000000), color-stop(50%, #899A79), to(#899A79));
  background: linear-gradient(to bottom, #516043 0%, #516043 50%, #000000 50%, #899A79 50%, #899A79 100%);
  color: #fff;
}

/* Target all direct children */
header > * {
  max-width: 1020px;
  margin: 0 auto;
}

header section {
  height: 70px;
  display: grid;
  grid-template-columns: auto auto;
}

header section nav {
  text-align: right;
  justify-self: end;
  line-height: 70px;
}

/* TOP NAVIGATION */
#title {
  margin-left: 50px;
  font-family: 'Spectral SC', serif;
  color: #899A79;
  font-size: 24px;
  line-height: 70px;
}

#header__top--nav ul li {
  display: inline;
  padding: 8px 20px;
  font-size: 14px;
}

#header__top--nav ul li:last-child {
  padding: 8px 50px 8px 10px;
}

#header__top--nav .header__top--icon {
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px;
}

#nak-btn {
  background: #B58B2D;
  border-radius: 25px;
  font-weight: 700;
  margin-right: 10px;
}

#header__top #mobil_menu {
  display: none;
}

/* BUTTOM NAVIGATION */
#logo {
  margin-left: 50px;
  position: relative;
  z-index: 2;
  width: 180px;
  margin-top: -10px;
}

#header__bottom--nav ul li {
  display: inline;
  padding: 10px 30px;
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
}

#header__bottom--nav ul li:last-child {
  padding: 8px 50px;
}
