@media screen and (max-width: 850px) {
/* Header */
  #title, #header__top--nav, #header__bottom--nav {
    display: none;
  }

  #header__bottom {
  	display: grid;
  	grid-template-columns: 100%;

    justify-items: center;
  }

  #header__bottom #logo {
    margin-top: -80px;
    margin-left: 0px;
    width: 200px;
  }

  header #header__top {
    display: grid;
  	grid-template-columns: 100%;

    justify-items: end;
    align-items: center;
  }

  header #header__top #mobil_menu {
    display: inline-block;
    width: 40px;
    margin-right: 20px;
  }
}

/* Footer */
@media screen and (max-width: 710px) {
  footer #footer__bottom {
    display: block;
    text-align: center;
    max-width: 340px;
  }

  footer #footer__åbningstider {
    display: grid;
  	grid-template-columns: 150px 100px;
  	grid-template-areas: "dage tider";
  	width: 250px;
    text-align: left;
    margin: 0 auto;
  }

  footer .footer_åbningstider--dage {
    grid-area: dage;
  }


  footer .footer_åbningstider--tider {
    grid-area: tider;
  	justify-items: end;
  }

  footer #footer__bottom--social {
    text-align: center;
  	margin-top: 30px;
  }

  footer h3 {
    margin-top: 20px;
  }

}
