/*
Error: Inconsistent indentation: 5 spaces were used for indentation, but the rest of the document was indented using 4 spaces.
        on line 3 of C:\wamp64\www\exam\project3.4\all-together\css\parts\reset.sass

1: *
2:     -webkit-box-sizing: border-box
3:      -moz-box-sizing: border-box
4:     box-sizing: border-box
5: 
6: img
7:     -webkit-box-sizing: content-box
8:      -moz-box-sizing: content-box

Backtrace:
C:\wamp64\www\exam\project3.4\all-together\css\parts\reset.sass:3
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:494:in `block in tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 5 spaces were used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 3 of C:\wamp64\www\exam\project3.4\all-together\css\parts\reset.sass\A \A 1: *\A 2:     -webkit-box-sizing: border-box\A 3:      -moz-box-sizing: border-box\A 4:     box-sizing: border-box\A 5: \A 6: img\A 7:     -webkit-box-sizing: content-box\A 8:      -moz-box-sizing: content-box"; }
